<mat-drawer-container class="example-container" autosize>
  <!--toggle-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="button">
      <button mat-icon-button matTooltip="Write Your Day" matTooltipClass="example-tooltip-yellow" color="primary" (click)='write()'>
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button matTooltip="Read Your Days" matTooltipClass="example-tooltip-yellow" color="primary" (click)='read()'>
        <mat-icon>menu_book</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button matTooltip="Your Contacts" matTooltipClass="example-tooltip-yellow" color="primary" (click)='contacts()'>
        <mat-icon>phone</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button matTooltip="Your Memo" matTooltipClass="example-tooltip-yellow" color="primary" (click)='memo()'>
        <mat-icon>assignment</mat-icon>
      </button>
    </div>
    <div class="button">
      <button mat-icon-button matTooltip="Your Profile" matTooltipClass="example-tooltip-yellow" color="primary" (click)='profile()'>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <button class="buttonT" mat-icon-button disableRipple color="primary" (click)="drawer.toggle()">
    <mat-icon (click)="iconname = !iconname">{{iconname ? 'menu' : 'menu_open'}}</mat-icon>
  </button>
  <button matTooltip="Add A New Contact" matTooltipClass="example-tooltip-yellow" disableRipple *ngIf="show=='contacts'" class="button" mat-icon-button color="primary"  (click)='createcontact()'>
    <mat-icon>add_ic_call</mat-icon>
  </button>
  <button matTooltip="Add A New Contact" matTooltipClass="example-tooltip-yellow" disableRipple *ngIf="show=='emphtymessagec'" class="button" mat-icon-button color="primary"  (click)='createcontact()'>
    <mat-icon>add_ic_call</mat-icon>
  </button>

  <!--write-->
  <div *ngIf="show=='write'">
    <mat-card class="card">
      <mat-card-content>
        <mat-form-field class="write" appearance="outline">
          <mat-label class="card-header">{{date}}</mat-label>
          <textarea matInput class="card-body" placeholder="How's Today?" type="text" name="day" [(ngModel)]="notes" required></textarea>
        </mat-form-field>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='writeday()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Clear" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='clearday()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>

  <!--read-->
  <div *ngIf="show=='read'">
    <mat-card class="card" *ngFor="let days of day">
      <mat-card-content>
        <mat-card-subtitle class="card-header">{{days.date}}</mat-card-subtitle>
        <div class="card-body">
          <p>{{days.notes}} <button matTooltip="Delete" matTooltipClass="example-tooltip-red" style="color:#f44336" mat-icon-button (click)='deleteday(days._id)'><mat-icon>delete</mat-icon></button></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--emphtymessaged-->
  <div *ngIf="show=='emphtymessaged'">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-subtitle class="card-header">NO RECORDS!</mat-card-subtitle>
        <div class="card-body">
          <p>Please Write Your Day</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--contacts-->
  <div *ngIf="show=='contacts'">
    <mat-card class="card" *ngFor="let contacts of contact">
      <mat-card-content>
        <mat-card-subtitle class="card-header">{{contacts.fullName | uppercase}}</mat-card-subtitle>
        <div class="card-body">
          <p>Contact Number : {{contacts.contactNo}} <button matTooltip="Delete" matTooltipClass="example-tooltip-red" style="color:#f44336" mat-icon-button (click)='deletecontact(contacts._id)'><mat-icon>delete</mat-icon></button></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--emphtymessagec-->
  <div *ngIf="show=='emphtymessagec'">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-subtitle class="card-header">NO CONTACTS!</mat-card-subtitle>
        <div class="card-body">
          <p>Please Add A New Contact</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--createcontacts-->
  <div *ngIf="show=='createcontacts'">
    <mat-card class="card">
      <mat-card-content>
        <form class="example-form">
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Name</mat-label>
              <input matInput class="card-body" placeholder="Ex : Will Smith" type="text" name="fullName" [(ngModel)]="fullName" required>
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Contact Number</mat-label>
              <input matInput class="card-body" placeholder="Ex : 0XX XXX XXXX" type="text" name="contactNo" [(ngModel)]="contactNo" required>
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='addcontact()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='clearcontact()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>

  <!--memo-->
  <div *ngIf="show=='memo'">
    <mat-card class="card">
      <mat-card-content>
        <form class="example-form">
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Mobile Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : 07X XXX XXXX" type="text" name="mobileNoM" [(ngModel)]="mobileNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Land Phone Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : 08X XXX XXXX" type="text" name="landPhoneNoM" [(ngModel)]="landPhoneNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Office Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : 03X XXX XXXX" type="text" name="officeNoM" [(ngModel)]="officeNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Address</mat-label>
              <input class="card-body" matInput placeholder="Ex : 123/A, ABC Road, Kandy." type="text" name="addressM" [(ngModel)]="addressM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Office Address</mat-label>
              <input class="card-body" matInput placeholder="Ex : 123/A, ABC Road, Colombo." type="text" name="officeAddressM" [(ngModel)]="officeAddressM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Blood Group</mat-label>
              <input class="card-body" matInput placeholder="Ex : O+" type="text" name="bloodGroupM" [(ngModel)]="bloodGroupM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Height</mat-label>
              <input class="card-body" matInput placeholder="Ex : 6'2''" type="text" name="heightM" [(ngModel)]="heightM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Weight</mat-label>
              <input class="card-body" matInput placeholder="Ex : 62KG" type="text" name="weightM" [(ngModel)]="weightM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">ID Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : XXXXXXXXXX" type="text" name="idNoM" [(ngModel)]="idNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Licence Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : XXXXXXXXXX" type="text" name="licenceNoM" [(ngModel)]="licenceNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Bank Account Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : XXXXXXXXXX" type="text" name="bankAccountNoM" [(ngModel)]="bankAccountNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Passport Number</mat-label>
              <input class="card-body" matInput placeholder="Ex : XXXXXXXXXX" type="text" name="passportNoM" [(ngModel)]="passportNoM">
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label class="card-header">Notes</mat-label>
              <textarea matInput class="card-body" type="text" name="notesM" [(ngModel)]="notesM"></textarea>
              <!--<mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memocreate()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='clearmemo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>

  <!--readmemo-->
  <div *ngIf="show=='readmemo'">
    <mat-card class="card" *ngFor="let readMemo of readMemo">
      <mat-card-content>
        <mat-card-subtitle class="card-header">{{userName | uppercase}}</mat-card-subtitle><hr style="  border: 2px solid #0000001a; border-radius: 5px;">
        <div class="card-body">
          <p>Mobile Number : {{readMemo.mobileNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button  (click)='editmemoMobileNo()'><mat-icon>description</mat-icon></button></p>
          <p>Land Phone Number : {{readMemo.landPhoneNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button   (click)='editmemoLandPhoneNo()'><mat-icon>description</mat-icon></button></p>
          <p>Office Number : {{readMemo.officeNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoOfficeNo()'><mat-icon>description</mat-icon></button></p>
          <p>Address : {{readMemo.addressM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoAddress()'><mat-icon>description</mat-icon></button></p>
          <p>Office Address : {{readMemo.officeAddressM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoOfficeAddress()'><mat-icon>description</mat-icon></button></p>
          <p>Blood Group : {{readMemo.bloodGroupM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoBloodGroup()'><mat-icon>description</mat-icon></button></p>
          <p>Height : {{readMemo.heightM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoHeight()'><mat-icon>description</mat-icon></button></p>
          <p>Weight : {{readMemo.weightM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoWeight()'><mat-icon>description</mat-icon></button></p>
          <p>ID Number : {{readMemo.idNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoIdNo()'><mat-icon>description</mat-icon></button></p>
          <p>Licence Number : {{readMemo.licenceNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoLicenceNo()'><mat-icon>description</mat-icon></button></p>
          <p>Bank Account Number : {{readMemo.bankAccountNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoBankAccountNo()'><mat-icon>description</mat-icon></button></p>
          <p>Passport Number : {{readMemo.passportNoM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoPassportNo()'><mat-icon>description</mat-icon></button></p>
          <p>Notes : {{readMemo.notesM}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button (click)='editmemoNotes()'><mat-icon>description</mat-icon></button></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="show=='editmemoMobileNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Mobile Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : 07X XXX XXXX" type="text" name="mobileNoME" [(ngModel)]="mobileNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoMobileNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoLandPhoneNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Land Phone Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : 08X XXX XXXX" type="text" name="landPhoneNoME" [(ngModel)]="landPhoneNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoLandPhoneNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoOfficeNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Office Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : 03X XXX XXXX" type="text" name="officeNoME" [(ngModel)]="officeNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoOfficeNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoAddress'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Address</mat-label>
            <input matInput class="card-body" placeholder="Ex : 123/A, ABC Road, Kandy." type="text" name="addressME" [(ngModel)]="addressME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoAddress()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoOfficeAddress'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Office Address</mat-label>
            <input matInput class="card-body" placeholder="Ex : 123/A, ABC Road, Colombo." type="text" name="officeAddressME" [(ngModel)]="officeAddressME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoOfficeAddress()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoBloodGroup'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Blood Group</mat-label>
            <input matInput class="card-body" placeholder="Ex : O+" type="text" name="bloodGroupME" [(ngModel)]="bloodGroupME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoBloodGroup()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoHeight'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Height</mat-label>
            <input matInput class="card-body" placeholder="Ex : 6'2''" type="text" name="heightME" [(ngModel)]="heightME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoHeight()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoWeight'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Weight</mat-label>
            <input matInput class="card-body" placeholder="Ex : 62KG" type="text" name="weightME" [(ngModel)]="weightME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoWeight()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoIdNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">ID Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : XXXXXXXXXX" type="text" name="idNoME" [(ngModel)]="idNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoID()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoLicenceNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Licence Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : XXXXXXXXXX" type="text" name="licenceNoME" [(ngModel)]="licenceNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoLicenceNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoBankAccountNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Bank Account Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : XXXXXXXXXX" type="text" name="bankAccountNoME" [(ngModel)]="bankAccountNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoBankAccountNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoPassportNo'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Passport Number</mat-label>
            <input matInput class="card-body" placeholder="Ex : XXXXXXXXXX" type="text" name="passportNoME" [(ngModel)]="passportNoME" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoPassportNo()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>
  <div *ngIf="show=='editmemoNotes'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Notes</mat-label>
            <textarea matInput class="card-body" type="text" name="notesME" [(ngModel)]="notesME" required></textarea>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='memoNotes()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='memo()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>


  <!--profile-->
  <div *ngIf="show=='profile'">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-subtitle class="card-header">{{userEmail | uppercase}}</mat-card-subtitle><hr style="  border: 2px solid #0000001a; border-radius: 5px;">
        <div class="card-body">
          <p>Username : {{userName}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button  (click)='editprofile()'><mat-icon>settings</mat-icon></button></p>
          <p>Password : {{userName}} <button matTooltip="Edit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" mat-icon-button  (click)='editprofile()'><mat-icon>settings</mat-icon></button></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="show=='editprofile'">
    <mat-card class="card">
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="card-header">Username</mat-label>
            <input class="card-body" matInput placeholder="Ex : Smith" type="text" name="editedUserName" [(ngModel)]="editedUserName" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='saveprofile()'>
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cancel" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='profile()'>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </div>

</mat-drawer-container>
