<form class="example-form" (submit)="loguser()">
  <div class="mat-heading"><p>L O G I N</p></div>
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput placeholder="Ex : Smith@gmail.com" type="email" name="email" [(ngModel)]="email" required>
      <!--<mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Minimum Characters" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
      <!--<mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </div>
  <div>
    <button class="buttons" mat-raised-button type="submit">DONE</button>
  </div>
</form>
