<div class="form1">
  <mat-card class="card1">
    <mat-card-content>
      <mat-card-subtitle class="mat-heading1">R E G I S T E R</mat-card-subtitle>
      <form class="example-form1">
        <div>
          <mat-form-field class="example-full-width1" appearance="outline">
            <mat-label class="card-header1">Username</mat-label>
            <input class="card-body1" matInput placeholder="Ex : Smith" type="text" name="username" [(ngModel)]="userName" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <mat-form-field class="example-full-width1" appearance="outline">
            <mat-label class="card-header1">E-Mail</mat-label>
            <input class="card-body1" matInput placeholder="Ex : Smith@gmail.com" type="email" name="email" [(ngModel)]="email" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <mat-form-field class="example-full-width1" appearance="outline">
            <mat-label class="card-header1">Password</mat-label>
            <input class="card-body1" matInput type="password" name="password" [(ngModel)]="password" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <mat-form-field class="example-full-width1" appearance="outline">
            <mat-label class="card-header1">Confirm Password</mat-label>
            <input class="card-body1" matInput type="password" name="cpassword" [(ngModel)]="cpassword" required>
            <!--<mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <button mat-icon-button matTooltip="Submit" matTooltipClass="example-tooltip-green" style="color: rgb(5, 197, 66);" (click)='registeruser()'>
      <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Clear" matTooltipClass="example-tooltip-red" style="color: #f44336" (click)='clear()'>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card>
</div>
